body {
  padding-top: 50px;
}

.starter-template {
  padding: 40px 15px;
  text-align: center;
}

.SplitPane {
  margin-bottom: -130px;
}

.action-panel {
  padding-top: 10px;
  height: 60px;
}

.table-pricelist tr.active {
  background-color: #000000 !important;
  color: red;
}

.close {
  font-size: 20px;
  font-weight: bold;
  line-height: 18px;
  color: #000000;
  text-shadow: 0 1px 0 #ffffff;
  opacity: 0.2;
  filter: alpha(opacity=20);
  text-decoration: none;

  position: absolute;
  top: 10px;
  right: 25px;
}
.close:hover {
  color: #000000;
  text-decoration: none;
  opacity: 0.4;
  filter: alpha(opacity=40);
  cursor: pointer;
}

.price-page {
  margin-top: 30px;
  border: solid #a0a0a0 1px;
}

.price-item {
  text-align: center;
  border: #a0a0a0 solid 1px;
  cursor: pointer;
  height: 60px;
  font-size: 10px;
}

.price-item:hover {
  background-color: azure;
}

.price-item.active {
  border-color: #a0a0f0;
}
